<ion-view hide-nav-bar="true" id="page4" class="login">
  <ion-content class="background" scroll="false">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input login-key" id="login-input2">
          <input type="number" placeholder="" autofocus ng-model="loginKey.value" ng-change="loginKeyChanged()">
        </label>
      </ion-list>
    </form>
    <div class="container">
      <img src="https://firebasestorage.googleapis.com/v0/b/monkey-a0a7e.appspot.com/o/monkey.png?alt=media&token=09af0444-6df3-425b-b5ec-f69928ddba21"></img>
      <div class="four-key">
        <span class="banana" ng-class="{'selected': loginKey.value.toString().length >= 2}"></span>
        <span class="banana" ng-class="{'selected': loginKey.value.toString().length >= 3}"></span>
        <span class="banana" ng-class="{'selected': loginKey.value.toString().length >= 4}"></span>
        <span class="banana" ng-class="{'selected': loginKey.value.toString().length >= 5}"></span>
      </div>
    </div>
  </ion-content>
</ion-view>
