<ion-view title="Settings" id="page8" class="background banana-clean">
  <ion-content padding="true" class="background has-header">
    <!-- Account -->
    <ul class="monkey-list">
      <li class="monkey-list-item">
        <img src="{{ account.icon }}" alt="">
        <div class="item-data">
          <div class="item-name" ng-bind="account.name"></div>
          <div class="item-text">Monkey Card</div>
        </div>
        <ion-toggle ng-model="account.enabled" ng-change="changeAccountStatus(1, account.enabled)"></ion-toggle>
      </li>
    </ul>

    <!-- Shops -->
    <h4 class="separator-header">
      In your neighborhood
    </h4>

    <ul class="monkey-list">
      <li ng-repeat="shop in shops" class="monkey-list-item">
        <img ng-src="{{ shop.icon }}" alt="">
        <div class="item-data">
          <div class="item-name">{{ shop.name }}</div>
          <div class="item-text">{{ shop.distance }}</div>
        </div>
        <ion-toggle ng-model="shop.allowed" ng-disabled="!account.enabled" ng-change="changeAllowance(shop)"></ion-toggle>
      </li>
    </ul>
  </ion-content>
</ion-view>
