<ion-view title="Transaction" id="page7" class="background banana-clean">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="background has-header" scroll="true">

    <ul class="accounts-list">
        <li class="accounts-list-item">
            <img src="" alt="">
            <div class="account-data">
              <span class="account-name">{{ account.name }}</span><br>
              <span class="account-balance">{{ account.balance }}€</span>
            </div>
        </li>
    </ul>

    <ul class="monkey-list">
      <li class="monkey-list-item" ng-repeat="transaction in transactions">
        <img ng-src="{{ transaction.shopData.icon }}" alt="">
        <div class="item-data">
          <span class="item-name">{{ transaction.shopData.name }}</span> <br>
          <span class="item-text">{{ transaction.date }}</span>
        </div>
        <div class="item-amount">
          -{{ transaction.amount }}€
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
