<ion-view title="Transaction" id="page7" class="background banana-clean">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings" ui-sref="settings({accountId:accountId})"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="background has-header" scroll="false">
    <ul class="monkey-list">
      <li class="monkey-list-item" ng-repeat="transaction in transactions">
        <img src="" alt="">
        <div class="item-data">
          <span class="item-name">{{ transaction.shopData.name }}</span>
          <span class="item-text">{{ transaction.date }}</span>
        </div>
        <div class="item-amount">
          {{ transaction.amount }}
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
