<ion-view title="Transaction" id="page7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <ul class="monkey-list">
      <li class="monkey-list-item" ng-repeat="transaction in transactions">
        <img src="" alt="">
        <div class="item-data">
          <span class="item-name"></span>
          <span class="item-date"></span>
        </div>
        <div class="item-amount"></div>
      </li>
    </ul>

  </ion-content>
</ion-view>
