.monkey-list {
  .monkey-list-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    border-bottom: 1px solid $banana-yellow;
    margin: 0 -10px;
    padding: 20px;
    min-height: 95px;
    img {
      width: 15vw;
      margin: 0 10px 0 -5px;
    }
    .item-data {
      flex: 1;
    }
    .item-name {
      font-size: 22px;
      line-height: 1.3em;
      font-weight: 900;
    }
    .item-text {
      font-size: 19px;
      font-weight: 400;
    }
    .item-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8c8c8c;
      font-size: 28px;
      margin-top: 10px;
      font-weight: 700;
    }
    ion-toggle {

    }
  }
}
